@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.background {
  margin: 0px;
  background-image: linear-gradient(#A2B9ED, #CBD9F9);
}

.headerp {
  font-weight: bold;
  color: black;
  font-size: 30px;
  padding: 0px;
  margin: 30px;
}

.descbox {
  float: left;
  padding: 20px 30px;
  margin-top: 50px;
  width: 70%;
  text-align: left;
  border-radius: 56px;
  background-color: white;
  font-weight: normal;
  color: black;
  font-size: 30px;
}

.separator {
  clear: both;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #274488;
  font-size: 60px;
  padding: 30px;
}

h2 {
  float: left;
  text-align: left;
  padding: 80px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

div.gallery img {
  border-radius: 63px;
  width: 100%;
  height: auto;
}

div.desc {
  font-size: 2vw;
  font-weight: normal;
  color: #274488;
  padding: 15px;
  text-align: center;
}

div.desc2 {
  font-size: 2vw;
  font-weight: normal;
  color: black;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 12px 28px;
  float: left;
  width: 33%;
}

@media only screen and (max-width: 1100px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  div.desc {
    font-size: 4vw;
  }

  div.desc2 {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 660px) {
  .responsive {
    width: 100%;
  }

  div.desc {
    font-size: 8vw;
  }

  div.desc2 {
    font-size: 8vw;
  }
}
