@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.background {
  margin: 0px;
  background-image: linear-gradient(#274488, #A2B9ED);
}

.headerp {
  font-weight: bold;
  color: white;
  font-size: 30px;
  padding: 0px;
  margin: 30px;
}

.sectiontitle {
  float: left;
}

.descbox {
  clear: both;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
  width: 90%;
  text-align: left;
  border-radius: 64px;
  background-color: white;
}

.desc {
  font-weight: normal;
  color: black;
  font-size: 24px;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 60px;
  padding: 30px;
}

h2 {
  text-align: left;
  float: right;
  padding: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

a.mail {
  text-decoration: none;
  color: white;
}

a.mail:hover {
  text-decoration: underline;
}

@media screen and (min-width: 981px) {

  .textnbuttons {
    width: 60%;
  }

  .eventdesc {
    float: left;
    text-align: left;
    font-size: 2vw;
    margin: 50px;
    color: black;
    font-family: 'Inter'
  }

  .window2 {
    text-align: center;
    padding-top: 60px;
    height: auto;
    width: 40%;
  }

  .button1 {
    font-family: 'Inter', sans-serif;
    border: none;
    color: white;
    background-color: #254489;
    padding: 0.8vw 1.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 4px 2px;
    border-radius: 2vw;
  }

  .buffer {
    height: 300px;
    width: 100%;
    background-color: #D0DCF6;
  }

  .buffer2 {
    height: 270px;
    width: 100%;
    background-color: #9AB8D7;
  }
}

@media screen and (max-width: 980px) {

  .textnbuttons {
    text-align: center;
  }

  .eventdesc {
    text-align: left;
    font-size: 2vw;
    margin: 50px;
    color: black;
    font-family: 'Inter';
  }

  .window2 {
    text-align: center;
    padding-top: 0px;
    height: auto;
    margin: 50px;
    width: 70%;
  }

  .button1 {
    font-family: 'Inter', sans-serif;
    border: none;
    color: white;
    background-color: #254489;
    padding: 0.8vw 1.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 4px 2px;
    border-radius: 2vw;
  }
}
