@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.background {
  margin: 0px;
  background-image: linear-gradient(#274488, #A2B9ED);
}

.headerp {
  font-weight: bold;
  color: white;
  font-size: 30px;
  padding: 0px;
  margin: 30px;
}

.sectiontitle {
  float: left;
}

.titlesnbuttons {
  float: right;
}

.descbox {
  clear: both;
  padding: 10px 34px;
  margin: auto;
  width: 90%;
  text-align: left;
  border-radius: 64px;
  background-color: white;
}

.desc {
  font-weight: normal;
  color: black;
  font-size: 24px;
}

button.button1 {
  background-color: #A2B9ED;
  color: black;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  border: none;
  padding: 16px 28px;
  text-align: left;
  display: inline-block;
  margin-left: 24px;
  cursor: pointer;
}

button.button2 {
  background-color: #274488;
  color: white;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  border: none;
  padding: 16px 28px;
  text-align: left;
  display: inline-block;
  margin-left: 24px;
  cursor: pointer;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 60px;
  padding: 30px;
}

h2 {
  text-align: left;
  padding: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

@media screen and (min-width: 981px) {}

@media screen and (max-width: 980px) {}
