@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.background {
  height: 100%;
  background-image: linear-gradient(#A2B9ED, #CBD9F9);
}

.headerp {
  font-weight: bold;
  color: black;
  font-size: 30px;
  padding: 0px;
  margin: 30px;
}

.notlocations {
  font-weight: bold;
  color: white;
  font-size: 50px;
  margin: 36px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.locations {
  font-weight: bold;
  color: white;
  font-size: 50px;
  margin: 40px;
  padding-top: 40px;
}

h2 {
  font-weight: normal;
  color: white;
  font-size: 50px;
  margin: 36px;
}

a.mail {
  text-decoration: none;
  color: white;
}

a.mail:hover {
  text-decoration: underline;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  display: inline-block;
  padding-right: 30px;
}

@media screen and (max-width: 980px) {

@media screen and (min-width: 981px) {
