@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.background {
  height: 100%;
  background-image: linear-gradient(#A2B9ED, #CBD9F9);
}

.headerp {
  font-weight: 600;
  color: black;
  font-size: 30px;
  padding: 0px;
  margin: 30px;
}

.center {
  padding: 24px;
  padding-left: 60px;
  padding-right: 60px;
  margin: auto;
  width: 90%;
  text-align: center;
  border-radius: 56px;
  background-color: white;
}

h1 {
  font-weight: bold;
  color: #274488;
  font-size: 70px;
  margin: 12px;
}

@media screen and (max-width: 980px) {

@media screen and (min-width: 981px) {
